.pawsC__features {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.pawsC__features-heading {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    margin-right: 5rem;
}

.pawsC__features-heading h1 {
    font-family: var(--font-family);
    font-size: 34px;
    font-weight: 800;
    line-height: 45px;
    color: var(--gradient-text);
}

.pawsC__features-container {
    flex: 1.2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width: 990px) {
    .pawsC__features {
        flex-direction: column;
    }
    
    .pawsC__features-heading{
        margin: 0 0 1rem 0;
    }
}

@media screen and (max-width: 550px) {

    .pawsC__features-heading h1{
        font-size: 28px;
        line-height: 38px;
    }

    .pawsC__features {
        margin: 0rem;
    }
}