.pawsC__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 6rem;
}

.pawsC__navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.pawsC__navbar-links_logo {
    margin-right: 2rem;
}

.pawsC__navbar-links_logo img {
    width: 80px;
    height: 80px;
}

.pawsC__navbar-links_container {
    display: flex;
}

.pawsC__navbar-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.pawsC__navbar-links_container p,
.pawsC__navbar-sign p,
.pawsC__navbar-menu_container p {
    margin: 0 1rem;
    color: #000;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    cursor: pointer;
}

.pawsC__navbar-sign{
    color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    outline: none;
    cursor: pointer;
}

.pawsC__navbar-sign button,
.pawsC__navbar-menu_container button {
    padding: 0.5rem 1rem;
    color: #fff;
    background: #FF4820;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}

.paws__cta-btn button:hover{
    transform: scale(1.05);
    transition: all 0.3s ease;
}


.pawsC__navbar-menu{
    display: none;
    margin-left: 1rem;
    position: relative;
}

pawsC__navbar-menu svg{
    cursor: pointer;
}

.pawsC__navbar-menu_container {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    flex-direction: column;

    text-align: end;
    background: var(--color-footer);
    padding: 2rem;
    position: absolute;
    top: 50px;
    right: 5px;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0 0 5 rpga(0, 0, 0, 0.2);
}

.pawsC__navbar-menu_container p{
    margin: 1rem 0;
}

.pawsC__navbar-menu_container-links-sign {
    display: none;
}


@media screen and (max-width: 1050px) {
    .pawsC__navbar-links_container {
        display: none;
    }
    
    .pawsC__navbar-menu {
        display: flex;
    }
}

@media screen and (max-width: 700px) {
    .pawsC__navbar{
        padding: 2rem 4rem;
    }
}

@media screen and (max-width: 550px) {
    .pawsC__navbar{
        padding: 2rem;
    }
    .pawsC__navbar-sign {
        display: none;
    }

    .pawsC__navbar-menu_container {
        top: 20px
    }

    .pawsC__navbar-menu_container-links-sign {
        display: block
    }
}