@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
  --font-family: 'Poppins', sans-serif;

  --gradient-text: linear-gradient(180deg, rgba(207, 6, 1, 1) 0%, rgba(255, 52, 124, 1) 100%);

  --gradient-bar: linear-gradient(90deg, rgba(255, 6, 0, 1) 0%, rgba(255, 0, 87, 1) 100%);
  
  --color-bg: #ffffff;
  --color-footer : #ececec;
  --color-text: #222;
  --color-subtext: #ff6745;
}
